.score {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.container {
  background-color: #a5b4fc;
  height: 100vh;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
